.env
venv/

# Python caches and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/
.DS_Store

# Streamlit specific (Optional)
# Leave this out if you intentionally want to share your layout settings
.streamlit/config.toml